<div class="panel panel-default">
    <div class="panel-heading state-title-heading">
        <h1 class="state-title" id="{{State}}-{{"Type of Data"}}"><a href="#{{State}}-{{"Type of Data"}}">{{State}}: {{"Type of Data"}}</a></h1>
    </div>
    <div class="panel-body">
      <div class="data-icons">
        <p><strong>Data Breakdown:</strong></p>
            <ul class="availablilty icons">
                <a data-toggle="tooltip" title data-original-title="{{existsCaption}}">
                    <li>
                        <i class="fa fa-cube datapole {{exists}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{digitizedCaption}}">
                    <li>
                        <i class="fa fa-desktop datapole {{digitized}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{isPublicCaption}}">
                    <li>
                        <i class="fa fa-users datapole {{isPublic}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{freeCaption}}">
                    <li>
                        <i class="fa fa-money datapole {{free}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{onlineCaption}}">
                    <li>
                        <i class="fa fa-eye datapole {{online}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{machineCaption}}">
                    <li>
                        <i class="fa fa-keyboard-o datapole {{machine}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{bulkCaption}}">
                    <li>
                        <i class="fa fa-files-o datapole {{bulk}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{openLicenseCaption}}">
                    <li>
                        <i class="fa fa-share-alt datapole {{openLicense}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{freshCaption}}">
                    <li>
                        <i class="fa fa-clock-o datapole {{fresh}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{inRepoCaption}}">
                    <li>
                        <i class="fa fa-archive datapole {{inRepo}}"></i>
                     </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{verifiableCaption}}">
                    <li>
                        <i class="fa fa-check-circle datapole {{verifiable}}"></i>
                     </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{completeCaption}}">
                    <li>
                        <i class="fa fa-circle-o datapole {{complete}}"></i>
                     </li>
                </a>
            </ul>
        </div>
        <p><strong>Grade:</strong> {{"Grade"}} ({{"Score"}}%)</p>
        <p><strong>Description:</strong> {{"Description"}}</p>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Exists:</strong> {{"Exists"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Digitized:</strong> {{"Digitized"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Public:</strong> {{"Public"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Without cost:</strong> {{"Free"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Online:</strong> {{"Online"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Machine-readable:</strong> {{"Machine readable"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Available in bulk:</strong> {{"Available in bulk"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>No license restrictions:</strong> {{"No restrictions"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Up-to-date:</strong> {{"Up-to-date"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>In the state repository:</strong> {{"In the state repository"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Verifiable:</strong> {{"Verifiable"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>Complete:</strong> {{"Complete"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p style="clear: left"><strong>Comments:</strong> {{"Comments"}}</p>
        <a href="{{"Link"}}">{{"Link"}}</a>
        </br>
        <small>This summary last updated on: {{"Last updated"}}</small>
    </div>
</div>
