tbody#states a:hover {
    text-decoration: none;
}

.datapoles {
    width: 130px;
    margin: auto;
    padding-left: 0;
}

.datapole {
    display: inline-block;
    width: 7px;
    height: 20px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}


.key {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
}

.key h5 {
    display: inline-block;
    margin-right: 10px;
}

.key ul {
    margin: 0;
    display: inline-block;
    padding-left: 10px;
}

.key ul li {
    display: inline-block;
    border-left: solid 16px #000;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 10px;
}

.key ul li.DNE {
    border-left-color: silver;
}

.key ul li.yes {
    border-left-color: #98fb98;
}

.key ul li.no {
    border-left-color: #d33333;
}

.key ul li.unsure {
    border-left-color: #39BEFA  ;
}

.key img {
    padding-bottom: 10px;
}

.cta-button {
  font-size: 30px;
}

td.grade {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
}
    td.grade a {
        display: block;
        color: #000;
    }
td.grade-A, td.grade-A-, td.grade-A\00002b {
    background-color: #3c3;
}
td.grade-B, td.grade-B-, td.grade-B\00002b {
    background-color: #adff2f;
}
td.grade-C, td.grade-C-, td.grade-C\00002b {
    background-color: yellow;
}
td.grade-D, td.grade-D-, td.grade-D\00002b {
    background-color: orange;
}
td.grade-F {
    background-color: #c33;
}