tbody#states a:hover {
    text-decoration: none;
}

.datapoles {
    width: 130px;
    margin: auto;
    padding-left: 0;
}

.datapole {
    display: inline-block;
    width: 7px;
    height: 20px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.cta-button {
  font-size: 30px;
}

td.grade {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
}
    td.grade a {
        display: block;
        color: #000;
    }
td.grade-A, td.grade-A\00002B, td.grade-A\002212, td.grade-A− {
    background-color: #3c3;
}
td.grade-B, td.grade-B\00002B, td.grade-B\002212, td.grade-B− {
    background-color: #adff2f;
}
td.grade-C, td.grade-C\00002B, td.grade-C\002212, td.grade-C− {
    background-color: yellow;
}
td.grade-D, td.grade-D\00002B, td.grade-D\002212, td.grade-D− {
    background-color: orange;
}
td.grade-F {
    background-color: #c33;
}


/* The map on the home page */
#vmap {
    min-width: 400px;
    min-height: 250px;
    max-width: 800px;
    max-height: 500px;
    cursor: pointer;
    margin: 0 auto;
}
/* Setup basic CSS for Label */
.jqvmap_pin {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    cursor: default;
}
/* Hide Whichever Labels you want */
#jqvmap1_ri_pin, #jqvmap1_dc_pin, #jqvmap1_de_pin, #jqvmap1_md_pin {
display: none;
}
/* Reposition Labels that are not quite right ( labels are centered in shape, and sometimes need tweaking ) */
#jqvmap1_ak_pin {
margin-top: -2%;
}
#jqvmap1_ca_pin {
margin-left: -2%;
}
#jqvmap1_ct_pin {
margin-top: -0.25%;
margin-left: -0.25%;
}
#jqvmap1_fl_pin {
margin-left: 5%;
}
#jqvmap1_id_pin {
margin-top: 3%;
margin-left: -1%;
}
#jqvmap1_ky_pin {
margin-left: 2%;
}
#jqvmap1_la_pin {
margin-left: -2%;
}
#jqvmap1_mi_pin {
margin-top: 4%;
margin-left: 3%;
}
#jqvmap1_ma_pin {
margin-top: -0.25%;
}
#jqvmap1_mn_pin {
margin-top: 2%;
margin-left: -2%;
}
#jqvmap1_nh_pin {
margin-top: 1%;
margin-left: -0.25%;
}
#jqvmap1_nj_pin {
margin-top: 1%;
}
#jqvmap1_ok_pin {
margin-left: 2%;
}
#jqvmap1_va_pin {
margin-left: 2%;
}
#jqvmap1_wv_pin {
margin-left: -1%;
margin-top: 1%;
}
/* Add responsibe support to resize labels for difference screen sizes */
@media only screen and (min-width: 320px) {
.jqvmap_pin {
  font-size: 6px;
}
}
@media only screen and (min-width: 480px) {
.jqvmap_pin {
  font-size: 8px;
}
}
@media only screen and (min-width: 640px) {
.jqvmap_pin {
  font-size: 10px;
}
}
@media only screen and (min-width: 800px) {
.jqvmap_pin {
  font-size: 12px;
}
}
@media only screen and (min-width: 1024px) {
.jqvmap_pin {
  font-size: 14px;
}
}